body{
    background-color: #333232;
    width: 80%;
    margin: auto;
    font-family: "raleway";
}

/* ---------------- proj08 css container-1 CSS-Grid ----------------- */

.container-1 {
    display: grid;
    grid-gap: 3px;
    grid-template-columns: 100px auto;
    grid-template-rows: 50px 100px 150px;
    margin-bottom: 100px;
}

.container-1 > div:nth-child(1n) {
    background-color: seagreen;
    text-align: center;
}

.container-1 > div:nth-child(2n) {
    background-color: silver;
}

.container-1 > div:nth-child(3n) {
    background-color: #3f6af5;
}

.container-1 > div:nth-child(4n) {
    background-color: #e7f071;
}

.container-1 > div:nth-child(5n) {
    background-color: #e28787;
}

.container-1 > div:nth-child(6n) {
    background-color: greenyellow;
}


/* ---------------- proj08 css container-2 Fraction units & Repeat ----------------- */


.container-2 {
    font-size: 2em;
    color: #ffeead;
    display: grid;
    grid-gap: 5px;
    /* 
        > samples Grid with 3 Columns & 2 rows and middle columns adjustable
    grid-template-columns: 100px auto 100px;  >> grid with 3 columns
    grid-template-rows: 50px 50px;  >> grid with 2 rows
        
        > using fraction units and repeat
    grid-template-columns: 1fr 1fr 1fr; OR grid-template-columns: repeat(3, 1ft);
        
        > will become
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 50px);
        
        > or can be combined rows & columns with 'grid-template'
    grid-template: repeat(2, 50px) / repeat(3, 1fr);  >> 'rows' / 'columns'

    */
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
    /*    it will adjust equally as far as browser width changing */

    grid-auto-rows: 100px;
    margin-bottom: 100px;
}

.container-2 > div:nth-child(1n) {
    background-color: #96ceb4;
    text-align: center;
}

.container-2 > div:nth-child(3n) {
    background-color: #88d8b0;
}

.container-2 > div:nth-child(2n) {
    background-color: #ff6f69;
}

.container-2 > div:nth-child(4n) {
    background-color: #ffcc5c;
}


/* ---------------- proj08 css container-3 Positioning items ----------------- */


.container-3 {
    font-size: 1.5em;
    color: #ffeead;
    text-align: center;
    display: grid;
    grid-gap: 3px;
    grid-template-columns: repeat(20, 1fr);
    grid-template-rows: 40px 300px 20px;
    margin-bottom: 100px;
}

.container-3 > .header {
    background-color: #5c82ff;
    /* option-1
    grid-column-start: 1;
    grid-column-end: 3;
       option-2 */
    grid-column: 1 / -1;
}

.container-3 > .content {
    background-color: #e28787;
    grid-column: 1 / 16;
}

.container-3 > .menu {
    background-color: #2facff;
    grid-column: 16 / -1;
}

.container-3 > .footer {
    font-size: 0.7em;
    background-color: #88d8b0;
    grid-column: 1 / -1;
}


/* ---------------- proj08 css container-4 Template Areas ----------------- */


.container-4 {
    /* font-family: "raleway"; >> had been defined in 'body' */
    height: 100%;
    display: grid;
    grid-gap: 0px;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 2.5em auto auto 1.5em;
    grid-template-areas: 
    "l l l l l l r r r r r r"
    "s s s s s s s s s s s s"
    "c c c c c c c c c m m m"
    "f f f f f f f f f f f f";
    /* if the grid change to ".", the spot will disappear */
    margin-bottom: 100px;
}

@font-face {
    font-family: "monotype";
    src: url(../css/fonts/monotypecorsiva/911Fonts.com_MonotypeCorsiva_Regular_-_911fonts.com_fonts_gyWJ.ttf)
}

@font-face{
    font-family: 'raleway';
    src: url(fonts/raleway/Raleway-Light.ttf)
}

.container-4 > .nav-right > .desktop {
    padding-right: 15px;
}
.container-4 > .nav-left {
    grid-column: l;
    background-color: #464646;
    font-family: "monotype";
    font-size: 24px;
    padding: 8px 0 0 12px;
    color: #fff;
}

.container-4 > .nav-right {
    grid-column: r;
    background-color: #464646;
    font-family: "raleway";
    font-size: 15px;
    text-align: right;
    padding-top: 9px;
    color: #fff;
}

.container-4 > .nav-right input[type=text]{
    font-size: 13px;
    border-radius: 6px;
    margin: 0 10px;
}

.container-4 > .showcase {
    background-image: url(../showcase/gijjakuta.JPG);
    background-size: 100% 100%;
    grid-column: s;
    height: 100%;
    text-align: center;
}

.container-4 > .showcase > .showcase-1 {
    min-height: 5em;
    font-family: "monotype";
    font-size: 1.2em;
    color: #f7e707;
    padding: 10px;
}

.container-4 > .showcase > .showcase-2 {
    font-family: "raleway";
    font-size: 1.5em;
    color: #4afc04;
    text-align: center;
}


.container-4 > .content {
    background-color: #fff;
    padding: 0 10px;
    grid-column: c;
    text-align: justify;
    font-family: "raleway";
}

.container-4 > .menu {
    background-color: #464646;
    padding: 0 10px;
    grid-column: m;
    text-align: justify;
    color: #fff;
}

.container-4 > .menu > .menu-tooltip{
    position: relative;
    display: inline-block;
    background-image: url;
    padding-top: 10px;
}

.container-4 > .menu > .menu-tooltip .menu-tooltiptext{
    visibility: hidden;
    width: 60px;
    font-family: 'raleway_normal';
    font-size: 12px;
    background-color: #686868;
    color: #fff;
    text-align: center;
    padding: 5px;
    
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
    top: 100%;
    left: 50%;
}

.container-4 > .menu > .menu-tooltip:hover .menu-tooltiptext{
    visibility: visible;
}

.container-4 > .menu > h3 {
    color: coral;
}

.container-4 > .footer {
    background-color: #2b2b2b;
    padding-top: 3px;
    grid-column: f;
    text-align: center;
    font-size: 12px;
    color: #fff;
}


/* ---------------- proj08 css container-5 Auto fit and minmax ----------------- */


.container-5 {
    display: grid;
    grid-gap: 5px;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    grid-template-rows: repeat(2, 100px);
    margin-bottom: 100px;
}

.container-5 > div:nth-child(1n) {
    background-color: #96ceb4;
    text-align: center;
}

.container-5 > div:nth-child(3n) {
    background-color: #88d8b0;
}

.container-5 > div:nth-child(2n) {
    background-color: #ff6f69;
}

.container-5 > div:nth-child(4n) {
    background-color: #ffcc5c;
}


/* ---------------- proj08 css container-6 Implicit rows ----------------- */


.container-6 {
    display: grid;
    grid-gap: 5px;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    grid-auto-rows: 100px;      /* implicit rows */
    margin-bottom: 100px;
}

.container-6 > div:nth-child(1n) {
    background-color: #96ceb4;
    text-align: center;
}

.container-6 > div:nth-child(3n) {
    background-color: #88d8b0;
}

.container-6 > div:nth-child(2n) {
    background-color: #ff6f69;
}

.container-6 > div:nth-child(4n) {
    background-color: #ffcc5c;
}